html {
    font-size: 10pt;
}

body {
    line-height: 1.2;
}

nav {
    display: none;
}

a::after {
    content: " (" attr(href) ")";
    font-style: italic;
}

header h1 {
    font-size: 1rem;
}

section {
    page-break-inside: avoid;
    margin-top: 0.5rem;
    margin-bottom: 0;
    h1 {
        font-size: 1.2rem;
    }
    & > dl > dd {
        margin-bottom: 0.2rem;
    }
}

#contatti_social .print_only {
    display: inline;
}

footer {
    display: none;
}
