/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  min-width: 600px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
}
@media only screen and (max-width: 767.98px) {
  body {
    min-width: 320px;
    padding-top: 0.6rem;
  }
}
body * {
  box-sizing: border-box;
}
body > * {
  position: relative;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  font-style: italic;
}
a:active {
  color: #FF0000;
}
a:focus {
  color: #555555;
  font-style: italic;
}

h1 {
  font-size: 1.1rem;
}

ul {
  list-style: square;
  padding-left: 1.5rem;
}

header h1 {
  font-variant: small-caps;
  font-weight: 800;
  text-align: right;
}
@media only screen and (max-width: 767.98px) {
  header h1 {
    text-align: center;
  }
}
header h1 .logo-auropass {
  /*
  * posizionamento del logo
  * in modo che la scritta
  * curriculum sia sotto pass
  * il posizionamento relativo
  * non garantisce la centratura del gruppo
  * l'uso degli em garantisce il posizionamento
  * riproporzionando esclusivamente le dimensioni
  * del parent
  */
  height: 4em;
  margin-right: -5em;
  margin-bottom: -0.3em;
}

dl {
  position: relative;
}

section {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #2056AE;
}
@media only screen and (max-width: 767.98px) {
  section {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
}
section h1 {
  color: #82b9de;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 1.6rem;
}
section > dl > dt {
  color: #2056AE;
  vertical-align: top;
  text-align: right;
  display: inline-block;
  width: 34%;
}
@media only screen and (max-width: 767.98px) {
  section > dl > dt {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
    display: block;
    text-align: left;
  }
}
section > dl > dd {
  vertical-align: top;
  display: inline-block;
  width: 65%;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 767.98px) {
  section > dl > dd {
    display: block;
    width: 100%;
    padding-left: 1.2rem;
  }
}

#consenso_td {
  border-bottom: none;
}

#contatti_social dt {
  display: inline;
}
#contatti_social dt::after {
  content: ": ";
}
#contatti_social dd {
  display: inline;
}
#contatti_social dd::after {
  content: "-";
  white-space: pre;
}
#contatti_social dd.last::after {
  content: "";
}
#contatti_social .print_only {
  display: none;
}

tbody td {
  text-align: center;
}
tbody td:first-child {
  text-align: left;
}

tfoot {
  font-size: 0.8rem;
}

#consenso_td p {
  font-style: italic;
  padding-top: 0.5rem;
}

footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  color: #555555;
}

#nome,
#cognome {
  font-variant: small-caps;
  font-weight: 600;
}

@media print {
  html {
    font-size: 10pt;
  }
  body {
    line-height: 1.2;
  }
  nav {
    display: none;
  }
  a::after {
    content: " (" attr(href) ")";
    font-style: italic;
  }
  header h1 {
    font-size: 1rem;
  }
  section {
    page-break-inside: avoid;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  section h1 {
    font-size: 1.2rem;
  }
  section > dl > dd {
    margin-bottom: 0.2rem;
  }
  #contatti_social .print_only {
    display: inline;
  }
  footer {
    display: none;
  }
}
